{% extends 'base.html' %}

{% block content %}

{% block heading %}
{% endblock %}
<hr>

{% if dish.pk %}
<form role="form" action="{% url 'edit' dish.pk %}" method="post">{% csrf_token %}
{% else %}
<form role="form" action="{% url 'new' %}" method="post">{% csrf_token %}
{% endif %}
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Enter Dish Name" value="{{ dish.name }}">
    </div>
    <div class="form-group">
        <label for="cuisine">Cuisine</label>
        <input type="text" class="form-control" name="cuisine" placeholder="Enter Cuisine Type (Chinese, Mexican, Southern, etc.)" value="{{ dish.cuisine }}">
    </div>
    <div class="form-group">
        <label for="flavors">Flavors</label>
        <input type="text" class="form-control" name="flavors" placeholder="Enter flavors (sweet, savory, sour, etc.)" value="{{ dish.flavors }}">
    </div>
    <div class="form-group">
        <label for="prep_time">Prep Time</label>
        <input type="text" class="form-control" name="prep_time" placeholder="Enter minutes to complete" value="{{ dish.prep_time }}">
    </div>
    <br>
    <div class="form-group">
        <button type="button" class="btn btn-success btn-xs" id="addIngredient">Add Ingredients</button>
    </div>
    <br>
    <div class="form-group">
        <label for="comments">Comments</label>
        <textarea type="text" class="form-control" name="comments" placeholder="Enter comments">{{ dish.comments }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Save Recipe</button>
</form>

{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
<script>
//create three initial fields
var startingNo = -1;
var $node = "";
for (varCount=0; varCount<=startingNo; varCount++){
    var displayCount = varCount+1;
    $node += '<div class="form-group"><label for="ingredient">Ingredient: </label><input type="text" class="form-control" name="ingredient" placeholder="Enter Ingredient Name"><button type="button" class="btn btn-danger btn-xs" id="removeVar">Remove Ingredient</button></div>';
}
//add them to the DOM
$('#addIngredient').after($node);
//remove a textfield
$('form').on('click', '#removeVar', function(){
    $(this).parent().remove();
    //varCount--;
});
//add a new node
$('#addIngredient').on('click', function(){
    //new node
    varCount++;
    $node = '<div class="form-group"><label for="ingredient">Ingredient: </label><input type="text" class="form-control" name="ingredient" placeholder="Enter Ingredient Name"><button type="button" class="btn btn-danger btn-xs" id="removeVar">Remove Ingredient</button></div>'
    $(this).parent().after($node);
});

{% for ingredient in dish.ingredients.all reversed %}
    //new node for ingredient in db
    varCount++;
    $node = '<div class="form-group"><label for="ingredient">Ingredient: </label><input type="text" class="form-control" name="ingredient" placeholder="Enter Ingredient Name" value="{{ ingredient.name }}"><button type="button" class="btn btn-danger btn-xs" id="removeVar">Remove Ingredient</button></div>'
    $('#addIngredient').after($node);
{% endfor %}
</script>
{% endblock %}


