{% extends "base.html" %}

{% block content %}
<p><a href="{% url 'list' %}">back to list</a></p>

<div>
    <h2>{{ dish.name }}</h2>
    <hr>
    {% if dish.photo %}
        <p><img src="{{ STATIC_URL }}{{ dish.photo }}" alt="{{ dish.name }}" class="img-rounded" width="300"/></p>
    {% endif %}
    <p>Chef {{ dish.author }}</p>
    <p>
        {{ dish.likes }} 
        {% if dish.likes == 1 %}
            person liked this recipe
        {% else %}
            people liked this recipe
        {% endif %}
    </p>
    <p><a href="{% url 'like' dish.pk %}">Like</a></p>
</div>

<div>
    <table class="table table-bordered">
        <tr>
            <td><strong>Cuisine</strong></td>
            <td>{{ dish.cuisine }}</td>
        </tr>
        <tr>
            <td><strong>Flavors</strong></td>
            <td>{{ dish.flavors }}</td>
        </tr>
        <tr>
            <td><strong>Ingredients</strong></td>
            <td>
                {% for ingredient in dish.ingredients.all %}
                {{ ingredient }},
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td><strong>Prep time</strong></td>
            <td>{{ dish.prep_time }} mins</td>
        </tr>
        <tr>
            <td><strong>Comments</strong></td>
            <td>{{ dish.comments }}</td>
        </tr>
    </table>
</div>

{% block extra_options %}
{% endblock %}

{% endblock %}