{% extends 'base.html' %}

{% block content %}

<h2>Enter a New Recipe</h2>
<hr>

<form role="form" action="." method="post">{% csrf_token %}
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Enter Dish Name">
    </div>
    <div class="form-group">
        <label for="cuisine">Cuisine</label>
        <input type="text" class="form-control" name="cuisine" placeholder="Enter Cuisine Type (Chinese, Mexican, Southern, etc.)">
    </div>
    <div class="form-group">
        <label for="flavors">Flavors</label>
        <input type="text" class="form-control" name="flavors" placeholder="Enter flavors (sweet, savory, sour, etc.)">
    </div>
    <div class="form-group">
        <label for="prep_time">Prep Time</label>
        <input type="text" class="form-control" name="prep_time" placeholder="Enter minutes to complete">
    </div>
    <br>
    <div class="form-group">
        <button type="button" class="btn btn-success" id="addIngredient">Add Ingredients</button>
    </div>
    <br>
    <div class="form-group">
        <label for="comments">Comments</label>
        <textarea type="text" class="form-control" name="comments" placeholder="Enter comments"></textarea>
    </div>
<!--     <div class="checkbox">
      <label>
        <input type="checkbox" name="new">
        This is a recipe I plan on making for the first time.
      </label>
    </div> -->
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>

{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
<script>
//create three initial fields
var startingNo = -1;
var $node = "";
for (varCount=0; varCount<=startingNo; varCount++){
    var displayCount = varCount+1;
    $node += '<div class="form-group"><label for="ingredient">Ingredient '+displayCount+': </label><input type="text" class="form-control" name="ingredient'+displayCount+'" placeholder="Enter Ingredient Name"><button type="button" class="btn btn-danger" id="removeVar">Remove Ingredient</button></div>';
}
//add them to the DOM
$('form').append($node);
//remove a textfield
$('form').on('click', '#removeVar', function(){
    $(this).parent().remove();
    //varCount--;
});
//add a new node
$('#addIngredient').on('click', function(){
    //new node
    varCount++;
    $node = '<div class="form-group"><label for="ingredient">Ingredient '+varCount+': </label><input type="text" class="form-control" name="ingredient'+varCount+'" placeholder="Enter Ingredient Name"><button type="button" class="btn btn-danger" id="removeVar">Remove Ingredient</button></div>'
    $(this).parent().before($node);
});
</script>
{% endblock %}


